#box{
    width:100%;
    height: 500px;
    overflow: hidden;
    position: relative;

}
#box ul{
    position: absolute;
}
#box ol{
    position: absolute;
    height: 20px;
    width: 250px;
    left: 50%;
    top: 50%;
    margin-left:-100px;
    margin-top:230px;
}
#box ul li{
    list-style: none;
    left: -430px;
    position: absolute;
}
#box ul li:nth-of-type(1) img{
    display: block;
}
#box ol li{
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    border-radius: 10px;
    background:#000000;
    opacity: 0.5;
    list-style: none;
    cursor: pointer;
}
#box ol li.active{
    background:#008842 ;
}

#al{
    width: 30px;
    height: 80px;
    background:black;
    opacity: 0.3;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    color:#F5F5DC;
    left:0;
    font-size: 30px;
    position: absolute;
    top:40%;  
    display: none;  
}

#a2{
    width: 30px;
    height: 80px;
    background:black;
    opacity: 0.3;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    color:#F5F5DC;
    right:0;
    font-size: 30px;
    position: absolute;
    top:40%;  
    display: none;      
}
#al:hover{
    opacity: 0.8;
}
#a2:hover{
    opacity: 0.8;
}
#box img{
    height: 600px;
    margin-top: -30px;
}
.lmenu{
    position: absolute;
    left: 30px;
    top: 0;
    width: 180px;
    height: 500px;
    background:rgba(255, 255, 255, 0.9);
}
.lmenu .lmenu_t{
    width: 180px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    background: #008842;
}
.lmenu .lmenu_t a{
    font-size: 16px;
    color: white;
    font-weight: bold;
}
.lmenu .lmenu_1{
    width: 180px;
    height: 42px;
    padding: 9px 0 0 0;
    float: left;
//  position: relative;
}
.lmenu .lmenu_1 a{
    display: block;
    width: 130px;
    height: 42px;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.lmenu .lmenu_1 a i{
    float: left;
    display: block;
    width: 30px;
    height: 24px;
    background: url(../images/floor_guide.png) left no-repeat;
}
.two_menu{
    display: none;
    position: relative;
    width: 250px;
    height: 439px;
//  background:rgba(255, 255, 255, 0.9) ;
//  border: 1px solid #b4c1a3;
    left: 180px;
    top:-93px;
    padding: 30px;
    background: url(../images/shuiguo.png) no-repeat right bottom;
}

.two_menu span{
    font-size: 16px;
    font-weight: bolder;
    display: block;
    color: black;
    float: left;
    margin: 10px;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
}

.lmenu .lmenu_1:hover{
    height: 40px;
    background:rgba(255, 255, 255, 0.9);
    border: 1px solid #b4c1a3;
    border-right-style: none;
    
}
.lmenu .lmenu_1:hover a{
    margin-left: 5px;
   transition:all 0.8s;
}
.lmenu .lmenu_1:hover .two_menu{
    display: block;
    left: 179px;
    top:-94px
}

