.wrap {
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0 5px 0;
}
a {
    color: #333333;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.header {
    height: 70px;
    border: none;
    background: #e0e0e0;
}
.logo {
    position: relative;
    float: left;
}
.logo a {
    display: block;
    width: 195px;
    height: 50px;
    background: url(../images/logo.png) no-repeat;
}
.logo .h-tit {
    color: #008842;
    left: 240px;
    font: 28px/1 Microsoft YaHei;
    position: absolute;
    top: 6px;
    white-space: nowrap;
}
.login {
    background-color: #fff;
    padding-top: 30px;
}
.fl {
    float: left;
}
.login .fl img {
    margin-top: 20px;
}
.login .fr {
    padding-right: 105px;
    float: right;
}
.login p {
    margin-bottom: 20px;
    font: 12px Arial, "SimSun";
    color: #878787;
    position: relative;
    overflow: hidden;
}
.right {
    text-align: right;
}
.login-main {
    width: 308px;
    padding: 30px 20px 20px;
    background-color: #fff;
    border: 1px solid #e3e6e0;
}
.login p {
    margin-bottom: 20px;
    font: 12px Arial, "SimSun";
    color: #878787;
    position: relative;
    overflow: hidden;
}
.login p strong {
    color: #262626;
    font: 18px/1 "Microsoft YaHei";
}
.login-main .green {
    text-decoration: underline;
}
.login .input {
    width: 300px;
    background-image: url(../images/bg_input.png);
    background-repeat: no-repeat;
    border: 1px solid #c1c1c1;
    background-color: #fff;
    height: 38px;
    vertical-align: middle;
    font: 14px/38px "Microsoft YaHei";
}
.input-phone {
    background-position: 0 -120px;
}
.input-key {
    background-position: 0 -180px;
}
.gray {
    color: #878787;
}
label {
    cursor: default;
}
input[type=checkbox] {
    margin-right: 9px;
    height: 14px;
    width: 14px;
    vertical-align: -1px;
}
.login p span {
    position: absolute;
    right: 0;
    top: 0;
}
.btn-green-l, .btn-green-s {
    background: #008842;
}
.btn-green-l {
    width: 306px;
    display: inline-block;
    height: 50px;
    text-align: center;
    color: #fff;
    font: 18px/50px "Microsoft YaHei";
}
.btn-green-l:hover {
    color: white; 
}
.login i{
    background-image: url(../images/bg_login.png);
}
.qq i {
    background-position: -60px -200px;
}
.sina i {
    background-position: -160px -200px;
}
.ay i {
    background-position: -260px -200px;
    width: 57px;
    margin-right: 0;
}
.cart h2, .order h2, i, .decrement, .increment {
    background-image: url(../Content/img/themes/bg_cart.png);
}
i {
    display: inline-block;
    width: 88px;
    height: 20px;
    margin-right: 20px;
}
.jinggao{
    width: 302px;
    height: 30px;
    margin-top: -10px;
    margin-bottom: 10px;
    color: red;
    line-height: 30px;
    font-size: 14px;
//  border: 1px solid black;
}
